#iframe {
    width:100%;
    height:calc(100% - 30px);
    border: none;
    border-top: 1px solid #CCCCCC;
    margin-top: 5px;
}

a {
    margin-right: 30px;
    cursor: pointer;
}

.active {
    color: blue;
}
